.inputForm div {
  display: flex;
  gap: 1rem;
}
.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
  width: 98%;
}

.inputForm input {
  padding: 20px;
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: pink;
  border-radius: 10px;
  color: rgb(67, 70, 71);
}

.inputForm button {
  padding: 10px;
  width: 15%;
  border: none;
  border-radius: 10px;
  background-color: rgb(22, 21, 21);
  color: aliceblue;
}
